<div class="row">
  <div class="col-sm-12">
    <div class="panel">
      <div class="panel-body">
        <div class="row">
          <div class="col-sm-6">
            <div class="m-b-30">
              <a id="addLivraison" class="btn btn-primary waves-effect waves-light" href="#/livraison/add">Enregistrer une Livraison <i class="fa fa-plus"></i></a>
            </div>
          </div>
        </div>

        <div class="editable-responsive">
          <table class="table table-striped" id="livraisons">
            <thead>
            <tr>
              <th>ID</th>
              <th>date</th>
              <th>Montant</th>
              <th>Client</th>
              <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr class="gradeX" *ngFor="let l of livraisons, let i=index">
              <td>{{l.livraison_id}}</td>
              <td>{{l.date}}</td>
              <td>{{l.montant}}</td>
              <td>{{l.client.name}}</td>
              <td class="actions">
                <a href="#" class="on-default edit-row" data-toggle="modal" data-target="#list-op-modal"><i class="fa fa-align-left"></i></a> &nbsp;
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
