<div class="row">
  <div class="col-sm-12">
    <div class="panel">
      <div class="panel-body">
        <div class="row">
          <div class="col-sm-6">
            <div class="m-b-30">
              <a id="addLivraison" class="btn btn-primary waves-effect waves-light" href="#/livraison/add">Enregistrer
                une Livraison <i class="fa fa-plus"></i></a>
            </div>
          </div>
        </div>

        <div [ngBusy]="busy" class="editable-responsive">
          <table class="table table-striped" id="livraisons" *ngIf="livraisons">
            <thead>
            <tr>
              <th>ID</th>
              <th>date</th>
              <th>Montant</th>
              <th>Etat</th>
              <th>Client</th>
              <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr class="gradeX" *ngFor="let l of livraisons, let i=index">
              <td>{{l.livraison_id}}</td>
              <td>{{l.date}}</td>
              <td>{{l.montant}}DT</td>
              <td *ngIf="l.facture_id">Facturée</td>
              <td *ngIf="!l.facture_id">Non facturée</td>
              <td>{{l.client.name}}</td>
              <td class="actions">
                <a href="#" class="on-default edit-row" data-toggle="modal" data-target="#list-prod-modal"
                   (click)="selectLivrison(i)"><i class="fa fa-align-left"></i></a> &nbsp;
                <a (click)="bon(l.livraison_id)" class="text-inverse p-r-10" data-toggle="tooltip"
                   title="Bon de Livraison">
                  <i class="ti-printer"></i></a>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="list-prod-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true" *ngIf="selectedLivraison">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">X</button>
        <h4 class="modal-title" id="myModalLabel">Liste de Produits de la Livraison de date {{selectedLivraison.date}},
          de Montant {{selectedLivraison.montant}} au client {{selectedLivraison.client.name}}:</h4></div>
      <div class="modal-body">
        <div class="editable-responsive">
          <table class="table table-striped" id="prods">
            <thead>
            <tr>
              <th>Label</th>
              <th>Reference</th>
              <th>Code a barre</th>
              <th>prix</th>
              <th>recipient</th>
              <th>emballage</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let p of selectedLivraison.produits ; let i = index" role="row">
              <td>{{p.produit.label}}</td>
              <td>{{p.produit.reference}}</td>
              <td>{{p.produit.codeABarre}}</td>
              <td>{{p.produit.prix}}</td>
              <td>{{p.produit.recipient.label}}</td>
              <td>{{p.produit.emballage.label}}</td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-info waves-effect" data-dismiss="modal" (click)="cleanAddMPModal()">Close
        </button>
      </div>
    </div>
  </div>
</div>
