<div class="card-box">
  <h4 class="header-title m-t-0 m-b-30">Stock des Produits</h4>
  <button id="addProduct" class="btn btn-primary waves-effect waves-light"
          [routerLink]="['/produit-base/add']">Ajouter Produit Base <i
    class="fa fa-plus"></i></button>
  <br>
  <br>

  <table [ngBusy]="busy" class="table table-striped table-bordered  dataTable no-footer" id="datatable"
         role="grid" aria-describedby="datatable_info">
    <thead>
    <tr role="row">
      <th tabindex="0" class="sorting_asc" aria-controls="datatable" style="width: 170px;"
          aria-label="Name: activate to sort column descending" aria-sort="ascending" rowspan="1"
          colspan="1">ID
      </th>
      <th tabindex="0" class="sorting" aria-controls="datatable" style="width: 116px;"
          aria-label="Start date: activate to sort column ascending" rowspan="1" colspan="1">Label
      </th>
      <th tabindex="0" class="sorting" aria-controls="datatable" style="width: 116px;"
          aria-label="Start date: activate to sort column ascending" rowspan="1" colspan="1">Reference
      </th>
      <th tabindex="0" class="sorting" aria-controls="datatable" style="width: 116px;"
          aria-label="Start date: activate to sort column ascending" rowspan="1" colspan="1">Quantite Disponible
      </th>
      <th tabindex="0" class="sorting" aria-controls="datatable" style="width: 116px;"
          aria-label="Start date: activate to sort column ascending" rowspan="1" colspan="1">Quantité Physique
      </th>
      <th tabindex="0" class="sorting" aria-controls="datatable" style="width: 116px;"
          aria-label="Start date: activate to sort column ascending" rowspan="1" colspan="1">Seuil
      </th>
      <th tabindex="0" class="sorting" aria-controls="datatable" style="width: 116px;"
          aria-label="Start date: activate to sort column ascending" rowspan="1" colspan="1">Type
      </th>
      <th tabindex="0" class="sorting" aria-controls="datatable" style="width: 116px;"
          aria-label="Start date: activate to sort column ascending" rowspan="1" colspan="1">Taxes
      </th>
      <th tabindex="0" class="sorting" aria-controls="datatable" style="width: 116px;"
          aria-label="Start date: activate to sort column ascending" rowspan="1" colspan="1">Actions
      </th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let p of pbs; let i = index" role="row">
      <td>
        {{p.produit_base_id}}
      </td>
      <td>
        <div *ngIf="p.editMode != undefined && p.editMode !=0">
          <input [(ngModel)]="p.label" id="label" name="label{{i}}" type="text"
                 style="width:100%" placeholder="Label" class="form-control input-block" required="">
        </div>
        <div *ngIf="p.editMode == undefined || p.editMode ==0">
          <a class="label label-default text-white">
            {{p.label}}
          </a>
        </div>

      </td>
      <td>
        <div *ngIf="p.editMode != undefined && p.editMode !=0">
          <input [(ngModel)]="p.reference" id="ref" name="label" type="text"
                 style="width:100%" placeholder="Reference" class="form-control input-block" required="">
        </div>
        <div *ngIf="p.editMode == undefined || p.editMode ==0">
          <a class="label label-default text-white">
            {{p.reference}}
          </a>
        </div>

      </td>
      <td>
        <div *ngIf="p.editMode != undefined && p.editMode !=0">
          <input [(ngModel)]="p.quantite_disponible" id="qtDispo" name="qtDispo" type="number"
                 style="width:100%" placeholder="Qt disponible" class="form-control input-block" required="">
        </div>
        <div *ngIf="p.editMode == undefined || p.editMode ==0">
          <a class="label label-default text-white">
            {{p.quantite_disponible}} {{p.unite.indice}}
          </a>
        </div>
      </td>
      <td>
        <div *ngIf="p.editMode != undefined && p.editMode !=0">
          <input [(ngModel)]="p.quantite_physique" id="quantite_physique" name="quantite_physique" type="number"
                 style="width:100%" placeholder="Qt physique" class="form-control input-block" required="">
        </div>
        <div *ngIf="p.editMode == undefined || p.editMode ==0">
          <a class="label label-warning text-white">
            {{p.quantite_physique}} {{p.unite.indice}}
          </a>
        </div>
      </td>
      <td>
        <div *ngIf="p.editMode != undefined && p.editMode !=0">
          <input [(ngModel)]="p.seuil" id="seuil" name="seuil" type="number"
                 style="width:100%" placeholder="seuil" class="form-control input-block" required="">
        </div>
        <div *ngIf="p.editMode == undefined || p.editMode ==0">
            {{p.seuil}} {{p.unite.indice}}
          <i style="color: red" class="fa fa-warning" *ngIf="p.seuil>p.quantite_disponible"></i>
        </div>
      </td>
      <td>
        <div *ngIf="p.editMode != undefined && p.editMode !=0">
          <select class="form-control" name="type" id="typeSelect" [(ngModel)]="p.type"
                  [ngModelOptions]="{standalone:true}">
            <option *ngFor="let t of types, let i=index" [ngValue]="t">{{t.label}}</option>
          </select>
        </div>
        <div *ngIf="p.editMode == undefined || p.editMode ==0">
          <a class="label label-warning text-white">
            {{p.type.label}}
          </a>
        </div>
      </td>
      <td>
        <div *ngIf="p.editMode != undefined && p.editMode !=0">
          <select class="select-taxe-{{i}} form-control" multiple="multiple" id="taxeSelect{{i}}"
                  name="taxeSelect" style="width: 80%">
            <option *ngFor="let taxe of taxes, let j=index"
                    value="{{taxe.taxe_id}}">{{taxe.label}}
              ({{taxe.pourcentage}} %)
            </option>
          </select>
        </div>
        <div *ngIf="p.editMode == undefined || p.editMode ==0">
          <div *ngIf="p.taxes.length!=0">
            <a *ngFor="let taxe of p.taxes" class="label-danger label text-white" style="margin-right: 3px">
              {{taxe.label}}
              {{taxe.pourcentage}}
              %</a>
          </div>
          <div *ngIf="p.taxes.length == 0">
            <a class="label label-success">Pas de taxes</a>
          </div>
        </div>
      </td>
      <td>
        <div *ngIf="p.editMode != undefined && p.editMode !=0">
          <a (click)="confirmLigne(i)" class="label label-default on-editing save-row"
             data-toggle="tooltip" title="Confirmer">
            <i class="fa fa-save"></i></a>
        </div>
        <div *ngIf="p.editMode == undefined || p.editMode==0">
          <a (click)="editLigne(i)" class="label label-default  p-r-10"
             data-toggle="tooltip" title="Confirmer">
            <i class="fa fa-pencil"></i></a> &nbsp;
          <a data-toggle="" title="Liste des achats" data-toggle="modal" data-target="#list-achats-modal"
             class="on-default edit-row">
            <div class="glyphicon glyphicon-shopping-cart" (click)="selectPb(i)"></div>
          </a> &nbsp;
          <a data-toggle="" title="Liste des consommations" data-toggle="modal" data-target="#list-consommations-modal"
             class="on-default edit-row">
            <div class="glyphicon glyphicon-paste" (click)="selectPb(i)"></div>
          </a> &nbsp;
        </div>
      </td>
    </tr>
    </tbody>
  </table>
</div>


<div id="list-achats-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true" *ngIf="selectedPb">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">X</button>
        <h4 class="modal-title" id="myModalLabel">Liste des Acahts du produit de base {{selectedPb.label}}:</h4></div>
      <div class="modal-body">
        <div class="editable-responsive">
          <table class="table table-striped" id="prods">
            <thead>
            <tr>
              <th>ID Achat</th>
              <th>Fournisseur</th>
              <th>Quantité</th>
              <th>Cout</th>
              <th>Créé le</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let p of selectedPb.achats ; let j = index" role="row">
              <td>{{p.achat_id}}</td>
              <td>{{p.achat.fournisseur.nom}}</td>
              <td>{{p.quantite}}{{selectedPb.unite.indice}}</td>
              <td>{{p.cout}}</td>
              <td>{{p.achat.created_at}}</td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-info waves-effect" data-dismiss="modal">Close
        </button>
      </div>
    </div>
  </div>
</div>

<div id="list-consommations-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true" *ngIf="selectedPb">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">X</button>
        <h4 class="modal-title" id="myModalLabel">Liste des Acahts du produit de base {{selectedPb.label}}:</h4></div>
      <div class="modal-body">
        <div class="editable-responsive">
          <table class="table table-striped" id="prods">
            <thead>
            <tr>
              <th>ID Lot</th>
              <th>Quantité</th>
              <th>Créé le</th>
              <th>Etat du Lot</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let p of selectedPb.consommations ; let j = index" role="row">
              <td>{{p.lot_id}}</td>
              <td>{{p.quantite}}{{selectedPb.unite.indice}}</td>
              <td>{{p.lot.created_at}}</td>
              <td>

                <div *ngIf="!p.lot.etat" class="label label-warning">
                  En Production
                </div>
                <div *ngIf="p.lot.etat" class="label label-warning">
                  Prduction terminée
                </div>

              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-info waves-effect" data-dismiss="modal">Close
        </button>
      </div>
    </div>
  </div>
</div>
