<div class="card-box">
  <h4 class="header-title m-t-0 m-b-30">Stock des Produits</h4>

  <table [ngBusy]="busy" class="table table-striped table-bordered  dataTable no-footer" id="datatable"
         role="grid" aria-describedby="datatable_info">
    <thead>
    <tr role="row">
      <th tabindex="0" class="sorting_asc" aria-controls="datatable" style="width: 170px;"
          aria-label="Name: activate to sort column descending" aria-sort="ascending" rowspan="1"
          colspan="1">ID
      </th>
      <th tabindex="0" class="sorting" aria-controls="datatable" style="width: 116px;"
          aria-label="Start date: activate to sort column ascending" rowspan="1" colspan="1">Label
      </th>
      <th tabindex="0" class="sorting" aria-controls="datatable" style="width: 116px;"
          aria-label="Start date: activate to sort column ascending" rowspan="1" colspan="1">Reference
      </th>
      <th tabindex="0" class="sorting" aria-controls="datatable" style="width: 116px;"
          aria-label="Start date: activate to sort column ascending" rowspan="1" colspan="1">Quantite Disponible
      </th>
      <th tabindex="0" class="sorting" aria-controls="datatable" style="width: 116px;"
          aria-label="Start date: activate to sort column ascending" rowspan="1" colspan="1">Quantité Physique
      </th>
      <th tabindex="0" class="sorting" aria-controls="datatable" style="width: 116px;"
          aria-label="Start date: activate to sort column ascending" rowspan="1" colspan="1">Type
      </th>
      <th tabindex="0" class="sorting" aria-controls="datatable" style="width: 116px;"
          aria-label="Start date: activate to sort column ascending" rowspan="1" colspan="1">Actions
      </th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let p of pbs; let i = index" role="row">
      <td>
        {{p.produit_base_id}}
      </td>
      <td>
        {{p.label}}
      </td>
      <td>
        {{p.reference}}
      </td>
      <td>
        <div *ngIf="p.editMode != undefined && p.editMode !=0">
          <input [(ngModel)]="p.quantite_disponible" id="seuil" name="seuil" type="number"
                 style="width:100%" placeholder="Qt disponible" class="form-control input-block" required="">
        </div>
        <div *ngIf="p.editMode == undefined || p.editMode ==0">
          <a class="label label-default text-white">
            {{p.quantite_disponible}} {{p.unite.nom}}
          </a>
        </div>
      </td>
      <td>
        <div *ngIf="p.editMode != undefined && p.editMode !=0">
          <input [(ngModel)]="p.quantite_physique" id="quantite_physique" name="quantite_physique" type="number"
                 style="width:100%" placeholder="Qt physique" class="form-control input-block" required="">
        </div>
        <div *ngIf="p.editMode == undefined || p.editMode ==0">
          <a class="label label-warning text-white">
            {{p.quantite_physique}} {{p.unite.nom}}
          </a>
        </div>
      </td>
      <td>
        {{p.type.label}}
      </td>
      <td>
        <div *ngIf="p.editMode != undefined && p.editMode !=0">
          <a (click)="confirmLigne(i)" class="label label-default on-editing save-row"
             data-toggle="tooltip" title="Confirmer">
            <i class="fa fa-save"></i></a>
        </div>
        <div *ngIf="p.editMode == undefined || p.editMode==0">
          <a (click)="editLigne(i)" class="label label-default  p-r-10"
             data-toggle="tooltip" title="Confirmer">
            <i class="fa fa-pencil"></i></a>
        </div>

      </td>
    </tr>
    </tbody>
  </table>
</div>


<div id="list-prod-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true" *ngIf="cmd">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">X</button>
        <h4 class="modal-title" id="myModalLabel">Liste de Produits de la commande #{{cmd.commande_achat_id}}:</h4>
      </div>
      <div class="modal-body">
        <div class="editable-responsive">
          <table class="table table-striped" id="prods">
            <thead>
            <tr>
              <th>Label</th>
              <th>Reference</th>
              <th>cout</th>
              <th>quantite</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let p of cmd.lignes_commande_achat ; let i = index" role="row">
              <td>{{p.produit_base.label}}</td>
              <td>{{p.produit_base.reference}}</td>
              <td>{{p.cout}}</td>
              <td>{{p.quantite}}</td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="modal-footer">
        <h4>Cout Total: {{cmd.montant}}DT</h4>
        <h4>Date de Création: {{cmd.created_at}}</h4>
        <hr>
        <button type="button" class="btn btn-info waves-effect" data-dismiss="modal">Close
        </button>
      </div>
    </div>
  </div>
</div>
