<div class="card-box">
  <h4 class="header-title m-t-0 m-b-30">Enregistrer une Sortie</h4>
  <form class="form-horizontal" role="form">

    <div class="form-group row">
      <label class="col-sm-3 control-label">Employé</label>
      <div class="col-sm-6">
        <select class="form-control" name="empSelect" id="empSelect">
          <option *ngFor="let e of employes, let i=index" value="{{i}}">{{e.nom}} {{e.prenom}}</option>
        </select>
      </div>
      <div class="col-sm-3"></div>
    </div>
    <table [ngBusy]="busy" class="table table-striped table-bordered  dataTable no-footer" id="datatable"
           role="grid" aria-describedby="datatable_info">
      <thead>
      <tr role="row">
        <th tabindex="0" class="sorting_asc" aria-controls="datatable" style="width: 170px;"
            aria-label="Name: activate to sort column descending" aria-sort="ascending" rowspan="1"
            colspan="1">N°
        </th>
        <th tabindex="0" class="sorting" aria-controls="datatable" style="width: 116px;"
            aria-label="Start date: activate to sort column ascending" rowspan="1" colspan="1">Produit
        </th>
        <th tabindex="0" class="sorting" aria-controls="datatable" style="width: 116px;"
            aria-label="Start date: activate to sort column ascending" rowspan="1" colspan="1">Quantité
        </th>
        <th tabindex="0" class="sorting" aria-controls="datatable" style="width: 116px;"
            aria-label="Start date: activate to sort column ascending" rowspan="1" colspan="1">Montant par piéce
        </th>
        <th tabindex="0" class="sorting" aria-controls="datatable" style="width: 116px;"
            aria-label="Start date: activate to sort column ascending" rowspan="1" colspan="1">Taxes
        </th>
        <th tabindex="0" class="sorting" aria-controls="datatable" style="width: 116px;"
            aria-label="Start date: activate to sort column ascending" rowspan="1" colspan="1">Total
        </th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let ligne of sortie.lignes_sortie, let i=index">
        <td>
          {{i+1}}
        </td>
        <td>
          <div *ngIf="ligne.editMode!=0">
            <select class="select-product-{{i}} form-control" name="productSelect">
              <option *ngFor="let product of produits, let j=index" value="{{j}}">{{product.label}}</option>
            </select>
          </div>
          <div *ngIf="ligne.editMode==0">
            {{ligne.produit.label}}
          </div>
        </td>
        <td>
          <div *ngIf="ligne.editMode!=0">
            <input [(ngModel)]="ligne.quantity" id="quantite" (ngModelChange)="changeTotalLigne(i)" name="quantite" type="number"
                   placeholder="Quantité" class="form-control input-md" required="">
          </div>
          <div *ngIf="ligne.editMode==0">
            {{ligne.quantity}}
          </div>
        </td>
        <td>
          {{ligne.produit ? ligne.produit.prix : 0}}
        </td>
        <td>
          <div *ngIf="ligne.produit.taxes.length!=0">
            <a *ngFor="let taxe of ligne.produit.taxes" class="label-danger label text-white" style="margin-right: 3px">
              {{taxe.label}}
              {{taxe.pourcentage}}
              %</a>
          </div>
          <div *ngIf="ligne.produit.taxes.length == 0">
            <a class="label label-success text-white">Pas de taxes</a>
          </div>
        </td>
        <td>
          {{ligne.total_price? ligne.total_price:0}}DT
        </td>
        <td>
          <div *ngIf="ligne.editMode!=0">
            <a (click)="confirmLigne(i)" class="on-editing save-row"
               data-toggle="tooltip" title="Confirmer">
              <i class="fa fa-save"></i></a>
          </div>
          <div *ngIf="ligne.editMode==0">
            <a (click)="editLigne(i)" class="text-inverse p-r-10"
               data-toggle="tooltip" title="Confirmer">
              <i class="fa fa-pencil"></i></a>
            <a (click)="deleteLigne(i)" class="text-inverse p-r-10"
               data-toggle="tooltip" title="Delete">
              <i class="fa fa-trash-o"></i></a>
          </div>
        </td>
      </tr>
      </tbody>
    </table>
  </form>

  <div class="row">
    <div class="col-md-6 col-sm-6 col-xs-6">
      <div class="clearfix m-t-40">
      </div>
    </div>
    <div class="col-md-3 col-sm-6 col-xs-6 col-md-offset-3">
      <p class="text-right"><b>Total:</b> {{onChangePrice()}} DT</p>
      <hr>
      <h3 class="text-right"> {{onChangePrice() }} DT</h3>
    </div>
    <div class="hidden-print">
      <div class="pull-right">
        <a href="javascript:window.print()" class="btn btn-inverse waves-effect waves-light"><i class="fa fa-print"></i></a>
        <a href="javascript:" (click)="addSortie()" class="btn btn-primary waves-effect waves-light">Submit</a>
      </div>
    </div>
  </div>


</div>

