<div class="row">
  <div class="col-sm-12">
    <div class="panel">
      <div class="panel-body">

        <div class="editable-responsive">
          <table class="table dataTable table-striped stockMP">
            <thead>
            <tr>
              <th>Matiere Premiere</th>
              <th>Quantité</th>
              <th>Produit</th>
              <th>Lot</th>
              <th>Date</th>

            </tr>
            </thead>
            <tbody>
            <tr class="gradeX" *ngFor="let c of consommations">
              <td>{{c.operation.mp.nom}}</td>
              <td>{{c.operation.quantite}} {{c.operation.unite.indice}}</td>
              <td>{{c.lot.produit.label}}</td>
              <td>{{c.lot.reference}}</td>
              <td>{{c.lot.created_at[8]}}{{c.lot.created_at[9]}}/{{c.lot.created_at[5]}}{{c.lot.created_at[6]}}/{{c.lot.created_at[0]}}{{c.lot.created_at[1]}}{{c.lot.created_at[2]}}{{c.lot.created_at[3]}}</td>

            </tr>

            </tbody>
          </table>
        </div>
      </div>
      <!-- end: panel body -->

    </div> <!-- end panel -->
  </div> <!-- end col-->
</div>
<!-- end row -->
