<div class="container">
  <div class="col-sm-12">
    <div class="panel">

      <div class="panel-body">
        <div class="editable-responsive">
          <table [ngBusy]="busy" class="table table-striped dataTable" id="livraisons">
            <thead>
            <tr>
              <th>ID</th>
              <th>Date d'échéance</th>
              <th>Montant</th>
              <th>Etat</th>
              <th>Client</th>
            </tr>
            </thead>
            <tbody>
            <tr class="gradeX" *ngFor="let l of livraisons, let i=index">
              <td>{{l.livraison_id}}</td>
              <td>{{l.date_echeance}}</td>
              <td>{{l.montant}}</td>
              <td>
                  <a [ngClass]="{'label-success': l.etat == 1,
              'label-warning':l.etat == 0,'label-danger' : l.etat==3}" class="label label-success">{{l.etat==0 ? 'Non
                    Facturée' : (l.etat==1 ?'Facturée' : 'Brouillon')}}</a>
                </td>
              <td>{{l.client.name}}</td>

            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
