<!-- TODO fix size of inputs in datatable-->
<div class="container">
  <div class="row">
    <div class="col-sm-12">
    <div class="card-box">

        <div class="row ">
        <form class="form-group">
          <div class="col-sm-6">
            <div class="m-b-30">
            <label for="date_deb">Date de début</label>
              <input [(ngModel)]="statA.date_deb" id="date_deb" name="date_deb" class=" form-control "
                      type="date">

                       </div>
          </div>
          <div class="col-sm-6">
            <div class="m-b-30">
            <label for="date_deb">Date de début</label>
              <input [(ngModel)]="statA.date_fin" id="date_deb" name="date_fin" class=" form-control "
                      type="date">

                       </div>
          </div>
           <div class="col-sm-12">
            <div class="m-b-30">
              <button (click)="getAchatsDepenses()" id="achats" class="btn btn-primary waves-effect waves-light"
                      >Afficher Achats et Dépenses</button>
            </div>
          </div>
        </form>
        </div>
                <div class="row">
                <h2>Achats</h2>

                </div>

       <table class="table table-striped dataTable"  id="achats">
                   <thead>
                   <tr>
                     <th>Numéro du Lot</th>
                     <th>Date</th>
                     <th>Fournisseur</th>
                     <th>Montant HT</th>
                     <th>Remise</th>
                     <th *ngFor="let t of taxes ; let j = index">{{t.label}}</th>
                     <th>Montant</th>

                   </tr>
                   </thead>
                   <tbody>
                   <tr *ngFor="let a of statA.achats ; let j = index" role="row">
                     <td>{{a.n_lot}}</td>
                     <td>{{a.created_at}}</td>
                     <td>{{a.fournisseur.nom}}</td>
                     <td>{{a.totalHT}}</td>
                     <td>{{a.remise}}</td>
                     <td *ngFor="let t of taxes ; let j = index">
                     {{a.taxe_pourcentages[j]}}
                      </td>
                     <td>{{a.montant}}</td>
                   </tr>


                   </tbody>
                  <tfoot>
                      <tr>
                      <td>Total : </td>
                     <td></td>
                     <td></td>
                     <td>{{statA.total_HT}}</td>
                     <td>{{statA.total_remises}}</td>
                     <td *ngFor="let t of taxes ; let j = index">
                     {{statA.tab_sum_taxes[j]}}
                      </td>
                     <td>{{statA.total_achats}}</td>
                      </tr>
                    </tfoot>

                 </table>
                 <div class="modal-footer">
                         <h4>Montant total: {{statA?.total_achats}}DT</h4>
                         <hr>
                       </div>

    </div>      </div>

                    </div>
  </div>
