<div class="row">
  <div class="col-sm-12">
    <div class="panel">
      <div class="panel-body">
        <div class="row">
          <div class="col-sm-4">
            <div class="m-b-30">
              <a id="addLivraison" class="btn btn-primary waves-effect waves-light"
                 [routerLink]="['/vente/livraison/add']">Enregistrer
                une Livraison <i class=" fa fa-plus"></i></a>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="m-b-30">
              <button id="convertLivraison" class="btn btn-lg btn-success waves-effect waves-light"
                      data-toggle="tooltip" title="Séléctionner au moins une commande" (click)="convert()"
                      [disabled]="clientIndex==-1 || !allwedConvert">Convertir En Facture <i
                class="fa fa-recycle"></i></button>
            </div>
          </div>
          <label class="col-sm-1 control-label"><h4>Client: </h4></label>
          <div class="col-sm-3">
            <select *ngIf="clients" class="form-control" name="clientsSelect" id="clientsSelect">
              <option value="-1">Tous les Clients</option>
              <option *ngFor="let c of clients, let i=index" value="{{i}}">{{c.name}}</option>
            </select>
          </div>
        </div>

        <div [ngBusy]="busy" class="editable-responsive">
          <table class="table table-striped" id="livraisons">
            <thead>
            <tr>
              <th>ID</th>
              <th>date</th>
              <th>Montant</th>
              <th>Etat</th>
              <th>Client</th>
              <th>Etat</th>
              <th>Conversion</th>
              <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr class="gradeX" *ngFor="let l of livraisons, let i=index">
              <td *ngIf="clientIndex==-1 || l.client_id==clients[clientIndex].client_id">{{l.livraison_id}}</td>
              <td *ngIf="clientIndex==-1 || l.client_id==clients[clientIndex].client_id">{{l.date}}</td>
              <td *ngIf="clientIndex==-1 || l.client_id==clients[clientIndex].client_id"><a class="label-success label">{{l.montant}}
                Dinars</a></td>
              <td *ngIf="clientIndex==-1 || l.client_id==clients[clientIndex].client_id">
                <a [ngClass]="{'label-success': l.etat == 1,
            'label-warning':l.etat == 0,'label-danger' : l.etat==3}" class="label label-success">{{l.etat==0 ? 'Non
                  Facturée' : (l.etat==1 ?'Facturée' : 'Brouillon')}}</a>
              </td>
              <td *ngIf="clientIndex==-1 || l.client_id==clients[clientIndex].client_id">{{l.client.name}}</td>
              <td *ngIf="clientIndex==-1 || l.client_id==clients[clientIndex].client_id">
                <div class="label" [ngClass]="{'label-success': l.etat == 1,
            'label-warning':l.etat == 0}">{{ !l.etat ? "Non Converti" : "Converti"}}
                </div>
              </td>
              <td>
                <div *ngIf="clientIndex==-1"
                     class="label label-success">Séléctionner un client
                </div>

                <div *ngIf="clientIndex!=-1 && l.client_id==clients[clientIndex].client_id">
                  <div *ngIf="l.etat==1" class="label label-success"> Converti
                  </div>
                  <div *ngIf="l.etat==0" class="checkbox checkbox-primary">

                    <input id="checkbox-{{i}}" type="checkbox" checked [(ngModel)]="l.isConverted"
                           (ngModelChange)="changeEtat(i)">
                    <label for="checkbox-{{i}}">
                      Convertir
                    </label>
                  </div>
                </div>
              </td>
              <td class="actions" *ngIf="clientIndex==-1 || l.client_id==clients[clientIndex].client_id">
                <a href="#" class="on-default edit-row" data-toggle="modal" data-target="#list-prod-modal"
                   (click)="selectLivrison(i)"><i class="fa fa-align-left"></i></a> &nbsp;

                <a [routerLink]="['/vente/livraison/'+l.livraison_id+'/edit']"
                   class="label label-default text-white p-r-10"
                   data-toggle="tooltip" title="Modifier">
                  <i class="fa fa-pencil"></i></a>
                <a (click)="deleteLivraison(i)" class="label label-danger text-white p-r-10"
                   data-toggle="tooltip" title="Confirmer">
                  <i class="fa fa-remove"></i></a>&nbsp;
                <a (click)="print(livraisons[i].livraison_id)" class="label label-default p-r-10"
                   data-toggle="tooltip"
                   title="Bon de livraison">
                  <i class="ti-printer"></i></a>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="list-prod-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true" *ngIf="selectedLivraison">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">X</button>
        <h4 class="modal-title" id="myModalLabel">Liste de Produits de la Livraison #{{selectedLivraison.livraison_id}}
          au client {{selectedLivraison.client.name}}:</h4></div>
      <div class="modal-body">
        <div class="editable-responsive">
          <table class="table table-striped" id="prods">
            <thead>
            <tr>
              <th>Label</th>
              <th>Reference</th>
              <th>Code a barre</th>
              <th>prix/exemplaire</th>
              <th>Quantité</th>
              <th>Gratuités</th>
              <th>Remise</th>
              <th>Cout</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let p of selectedLivraison.produits ; let i = index" role="row">
              <td>{{p.produit.label}}</td>
              <td>{{p.produit.reference}}</td>
              <td>{{p.produit.codeABarre}}</td>
              <td>{{p.produit.prix}}</td>
              <td>{{p.quantite}}</td>
              <td>{{p.gratuite}}</td>
              <td>{{p.remise}}%</td>
              <td>{{p.produit.prix*p.quantite}}DT</td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="modal-footer">
        <h4>Cout Total: {{selectedLivraison.montant}}DT</h4>
        <h4>Date de Création: {{selectedLivraison.created_at}}</h4>
        <h4>Date {{selectedLivraison.date}}</h4>
        <h4>Date d'échéance: {{selectedLivraison.date_echeance}}</h4>
        <hr>
        <button type="button" class="btn btn-info waves-effect" data-dismiss="modal">Close
        </button>
      </div>
    </div>
  </div>
</div>
