<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <div class="card-box">

        <div class="row">
          <div class="col-sm-6">
            <div class="m-b-30">
              <button id="addMP" [routerLink]="['/production/emballage/ajouter']" class="btn btn-primary waves-effect waves-light">Ajouter Emballage<i
                class="fa fa-plus" ></i></button>
            </div>
          </div>
        </div>
        <table [ngBusy]="busy" class="table table-striped table-bordered  dataTable no-footer" id="datatable"
               role="grid" aria-describedby="datatable_info">
          <thead>
          <tr role="row">
            <th tabindex="0" class="sorting_asc" aria-controls="datatable" style="width: 170px;"
                aria-label="Name: activate to sort column descending" aria-sort="ascending" rowspan="1"
                colspan="1">Label
            </th>
            <th tabindex="0" class="sorting" aria-controls="datatable" style="width: 116px;"
                aria-label="Start date: activate to sort column ascending" rowspan="1" colspan="1">Référence
            </th>
            <th tabindex="0" class="sorting" aria-controls="datatable" style="width: 116px;"
                aria-label="Start date: activate to sort column ascending" rowspan="1" colspan="1">Coût
            </th>

            <th tabindex="0" class="sorting" aria-controls="datatable" style="width: 116px;"
                aria-label="Start date: activate to sort column ascending" rowspan="1" colspan="1">Actions
            </th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let emballage of emballages ; let i = index" role="row">
          <td>
             <div *ngIf="emballage.editMode != undefined && emballage.editMode !=0">
              <input [(ngModel)]="emballage.label" id="label" name="label" type="text"
                 placeholder="Label" class="form-control input-block" required="">
              </div>
             <div *ngIf="emballage.editMode == undefined || emballage.editMode ==0">
              {{emballage.label}}
             </div>
            </td>
            <td>
             <div *ngIf="emballage.editMode != undefined && emballage.editMode !=0">
              <input [(ngModel)]="emballage.reference" id="reference" name="reference" type="text"
                 placeholder="reference" class="form-control input-block" required="">
              </div>
             <div *ngIf="emballage.editMode == undefined || emballage.editMode ==0">
              {{emballage.reference}}
             </div>
            </td>
            <td>
             <div *ngIf="emballage.editMode != undefined && emballage.editMode !=0">
              <input [(ngModel)]="emballage.cout" id="cout" name="cout" type="number"
                 placeholder="cout" class="form-control input-block" required="">
              </div>
             <div *ngIf="emballage.editMode == undefined || emballage.editMode ==0">
              {{emballage.cout}}
             </div>
            </td>
            <td>

               <div *ngIf="emballage.editMode != undefined && emballage.editMode !=0">
                                        <a (click)="confirmLigne(i)" class="on-editing save-row"
                                           data-toggle="tooltip" title="Confirmer">
                                          <i class="fa fa-save"></i></a>
                                      </div>
              <div *ngIf="emballage.editMode == undefined || emballage.editMode==0">
                          <a (click)="editLigne(i)" class="label label-default text-inverse p-r-10"
                             data-toggle="tooltip" title="Confirmer">
                            <i class="fa fa-pencil"></i></a>

              </div>

            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
