<div class="card-box">
  <h4 class="header-title m-t-0 m-b-30">Enregistrer une Commande</h4>
  <form class="form-horizontal" role="form">
    <div class="form-group row">
      <label class="col-sm-3 control-label">Client</label>
      <div class="col-sm-6">
        <select class="form-control" [(ngModel)]="commande.client" name="mpSelect">
          <option *ngFor="let c of clients, let i=index" [ngValue]="c">{{c.name}}</option>
        </select>
      </div>
      <div class="col-sm-3">
        <button id="addMP" class="btn btn-primary waves-effect waves-light" data-toggle="modal"
                data-target="#add-mp-modal">
          <div class="glyphicon glyphicon-plus"></div> &nbsp;Ajouter
        </button>
      </div>
    </div>
    <table [ngBusy]="busy" class="table table-striped table-bordered  dataTable no-footer" id="datatable"
           role="grid" aria-describedby="datatable_info">
      <thead>
      <tr role="row">
        <th tabindex="0" class="sorting_asc" aria-controls="datatable" style="width: 170px;"
            aria-label="Name: activate to sort column descending" aria-sort="ascending" rowspan="1"
            colspan="1">N°
        </th>
        <th tabindex="0" class="sorting" aria-controls="datatable" style="width: 116px;"
            aria-label="Start date: activate to sort column ascending" rowspan="1" colspan="1">Produit
        </th>
        <th tabindex="0" class="sorting" aria-controls="datatable" style="width: 116px;"
            aria-label="Start date: activate to sort column ascending" rowspan="1" colspan="1">Quantité
        </th>
        <th tabindex="0" class="sorting" aria-controls="datatable" style="width: 116px;"
            aria-label="Start date: activate to sort column ascending" rowspan="1" colspan="1">Montant par piéce
        </th>
        <th tabindex="0" class="sorting" aria-controls="datatable" style="width: 116px;"
            aria-label="Start date: activate to sort column ascending" rowspan="1" colspan="1">Total
        </th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let ligne of lignes_commandes; let i = index" role="row">
        <td>
          <div *ngIf="ligne.editMode">
            <select [(ngModel)]="ligne.produit" id="produit" name="produit" class="form-control">
              <option disabled>Choisir produit</option>
              <option *ngFor="let l of produits; let i=index" [value]="produit">{{l.label}}</option>
            </select>
          </div>
          <div *ngIf="!ligne.editMode">
            {{ligne.produit.label}}
          </div>
        </td>
        <td>
          <div *ngIf="ligne.editMode">
            <input [(ngModel)]="ligne.quantity" id="quantite" name="quantite" type="text"
                   placeholder="Quantité" class="form-control input-md" required="">
          </div>
          <div *ngIf="!ligne.editMode">
            {{ligne.quantity}}
          </div>
        </td>
        <td>
          {{ligne.produit.prix}}
        </td>
        <td>
          {{ligne.produit.prix*ligne.quantity}}
        </td>
        <td>
          <div *ngIf="ligne.editMode">
            <a (click)="confirmLigne(i)" class="text-inverse p-r-10"
               data-toggle="tooltip" title="Confirmer">
              <i class="ti-plus"></i></a>
          </div>
          <div *ngIf="!ligne.editMode">
            <a (click)="editLigne(i)" class="text-inverse p-r-10"
               data-toggle="tooltip" title="Confirmer">
              <i class="ti-marker"></i></a>
          </div>
        </td>
      </tr>
      </tbody>
    </table>
  </form>
</div>
