
<div class="container">
<div class="row">
<div class="col-sm-12">
<div class="card-box" >
<form class="form-horizontal" [ngBusy]="busy" >

<fieldset>

<!-- Form Name -->
<legend>Ajouter un Produit</legend>
<!--TODO ADD Buttons to get us to add emballage or recipient-->
<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="textinput">Label</label>
  <div class="col-md-4">
  <input [(ngModel)]="produit.label" id="textinput" name="textinput" type="text"
  placeholder="Label du produit" class="form-control input-md" required="required">

  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="reference">Référence</label>
  <div class="col-md-4">
  <input [(ngModel)]="produit.reference" id="reference" name="reference" type="text"
  placeholder="Référence du produit" class="form-control input-md" required="required">

  </div>
</div>
<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="reference">Code à Barres</label>
  <div class="col-md-4">
  <input [(ngModel)]="produit.codeABarre" id="reference" name="reference" type="text" placeholder="Code à Barres" class="form-control input-md" required="required">
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="reference">Seuil alerte</label>
  <div class="col-md-4">
  <input [(ngModel)]="produit.seuil" id="reference" name="reference" type="number" placeholder="Code à Barres" class="form-control input-md" required="required">
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="cout">Prix de vente</label>
  <div class="col-md-4">
  <input [(ngModel)]="produit.prix" id="cout" name="cout" type="text" placeholder="Prix" class="form-control input-md" required="required">
  </div>
</div>
<div class="card-box col-md-4 col-md-offset-4 ">
  <h4 class="header-title  m-t-0 m-b-30">Composition du produit</h4>
  <form class="form-horizontal" role="form">


    <table  class="table  table-striped table-bordered  dataTable no-footer" id="datatable"
           role="grid" aria-describedby="datatable_info">
      <thead>
      <tr role="row">
        <th tabindex="0" class="sorting_asc" aria-controls="datatable" style="width: 170px;"
            aria-label="Name: activate to sort column descending" aria-sort="ascending" rowspan="1"
            colspan="1">N°
        </th>
        <th tabindex="0" class="sorting" aria-controls="datatable" style="width: 116px;"
            aria-label="Start date: activate to sort column ascending" rowspan="1" colspan="1">Produit de Base
        </th>

        <th tabindex="0" class="sorting" aria-controls="datatable" style="width: 116px;"
            aria-label="Start date: activate to sort column ascending" rowspan="1" colspan="1">Quantité
        </th>

      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let ligne of produit.produit_produit_bases;
      let i = index" role="row">
        <td>
          {{i+1}}
        </td>

        <td>
          <div *ngIf="ligne.editMode!=0">
            <select class="select-product-{{i}} form-control" name="productSelect">
              <option *ngFor="let product of produits_bases, let j=index" value="{{j}}">{{product.label}}
              ({{product.unite.indice}})</option>
            </select>
          </div>
          <div *ngIf="ligne.editMode==0">
            {{ligne.produit_base.label}} ({{ligne.produit_base.unite.indice}})
          </div>
        </td>


        <td>
          <div *ngIf="ligne.editMode!=0">
            <input [(ngModel)]="ligne.quantite" id="quantite" name="quantite" type="number"
                   placeholder="Quantité" class="form-control input-md" required="">
          </div>
          <div *ngIf="ligne.editMode==0">
            {{ligne.quantite}}
          </div>
        </td>

        <td>
          <div *ngIf="ligne.editMode!=0">
            <a (click)="confirmLigne(i)" class="on-editing save-row"
               data-toggle="tooltip" title="Confirmer">
              <i class="fa fa-save"></i></a>
          </div>
          <div *ngIf="ligne.editMode==0">
            <a (click)="editLigne(i)" class="text-inverse p-r-10"
               data-toggle="tooltip" title="Confirmer">
              <i class="fa fa-pencil"></i></a>
            <a (click)="deleteLigne(i)" class="text-inverse p-r-10"
               data-toggle="tooltip" title="Delete">
              <i class="fa fa-trash-o"></i></a>
          </div>
        </td>
      </tr>
      </tbody>
    </table>
  </form>


</div>

<!-- Button (Double) -->
<div class="form-group">
  <div class="col-md-4 col-md-offset-5">
    <button *ngIf="isEditAction == false" (click)="addProduit()" id="buttonSubmit" name="buttonSubmit" class="btn btn-success">Ajouter</button>
    <button *ngIf="isEditAction == true" (click)="editProduit()" id="buttonSubmit" name="buttonSubmit" class="btn btn-success">Modifier</button>
    <button [routerLink]="['/production/produit/list']" id="buttonAnnuler" name="buttonAnnuler" class="btn btn-warning">Annuler</button>
  </div>
</div>
</fieldset>
</form>



</div>
</div>
</div>
</div>
